<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>method</key>
  <string>ad-hoc</string> <!-- app-store, ad-hoc, enterprise, development -->
  <key>teamID</key>
  <string>V4969Q592K</string>
	<key>signingStyle</key>
	<string>manual</string>
  <key>provisioningProfiles</key>
	<dict>
		<key>V4969Q592K.com.myTherapyPal</key>
		<string>d28776da-2d3b-41ab-abe1-0d377798f6b5</string>
	</dict>
</dict>
</plist>