<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYGvhhUZWwWaDFZz8Aw03kAJxPLojDmN4</string>
	<key>GCM_SENDER_ID</key>
	<string>159382536980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myTherapyPal</string>
	<key>PROJECT_ID</key>
	<string>mytherapypal</string>
	<key>STORAGE_BUCKET</key>
	<string>mytherapypal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159382536980:ios:fda062a6a35c217a333801</string>
	<key>DATABASE_URL</key>
	<string>https://mytherapypal-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>